.menu{
    display: flex;
    width: 264px;
    max-height: 100%;
    padding: 12px 11px;
    flex-direction: column;
    border-radius: var(--border-radius-big);
    border: 1px solid #CFCFE4;
    box-sizing: border-box;
}